In [1]:
import pandas as pd 
import csv
from dateutil.parser import parse
import collections
import re

In [19]:
def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.
    """
    try: 
        if string.isdigit():
            #print(string)
            return False
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

In [20]:
def rewrite_file(new_file_name, rewriten_file_name):
    line=[]
    # open the output file in 'w' mode
    with open(new_file_name, 'w', newline='') as f:

        # create a csv writer object
        writer = csv.writer(f)

        with open(rewriten_file_name, 'r') as csv_file:
            reader = csv.reader(csv_file)

            #skip header
            header = next(reader)

            writer.writerow(header)
            for row in reader:
                #print(row)
                if len(row) > 0:
                    pattern = r'^\d{' + str(4) + r',}$'
                    found = re.findall(pattern,row[0])
                    if found != []:
                        if len(line) > 0:
                            if is_date(line[-1]) == True:
                                new_line = line[:18]+ [' '.join(line[18:len(line)-13])] + line[-13:]
                                writer.writerow(new_line)
                        line = []
                
                line.extend(row)

                
    # explicitly close the files
    csv_file.close()
    f.close()

In [21]:
csv.field_size_limit(100000000)
new_file_name = 'test_small.csv'
rewriten_file_name = "E:\Data_exploration\careplan_reports_small.csv"
rewrite_file(new_file_name, rewriten_file_name)

In [18]:
pd.set_option('display.max_colwidth', None)
df = pd.read_csv('test_small.csv', encoding='latin-1')
df#[['objectId', 'comment']]

C:\Users\f.tomassen\AppData\Local\Temp\ipykernel_63664\1838239033.py:2: DtypeWarning: Columns (1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,19,20,22,23,24,25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('test_small.csv', encoding='latin-1')

,objectId,carePlanEntryObjectId,carePlanLinkId,clientObjectId,employeeObjectId,reportingDate,reportTypeObjectId,systolicPressure,diastolicPressure,pulsePressure,...,parentObjectId,parentType,carenObjectId,carenName,carenRole,status,episodeId,restrictiveMeasureId,createdAt,updatedAt
0,1950,NaN,NaN,761638,762059,2011-12-05 16:19:14,109,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-12-05 16:19:14,2011-12-05 16:19:14
1,2250,NaN,NaN,234932,762456,2011-12-06 12:38:44,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-12-06 12:38:44,2011-12-06 12:38:44
2,2251,NaN,NaN,761638,762456,2011-12-06 12:45:42,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-12-06 12:45:42,2011-12-06 12:45:42
3,2300,NaN,NaN,761638,762456,2011-12-07 08:00:47,103,172,80.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-12-07 08:00:47,2011-12-07 08:00:47
4,2301,NaN,NaN,761700,762456,2011-12-07 15:16:49,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-12-07 15:16:49,2011-12-07 15:16:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999907,1578403,NaN,NaN,1713587,781318,2013-10-15 16:35:00,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-10-15 16:35:00,2013-10-15 16:35:00
999908,1578404,NaN,NaN,310614,818007,2013-10-15 16:35:08,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-10-15 16:35:08,2013-10-15 16:35:08
999909,1578405,1219245.0,610209.0,1158376,1334113,2013-10-15 16:35:11,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-10-15 16:35:11,2013-10-15 16:35:11
999910,1578406,NaN,NaN,613050,1700895,2013-10-15 16:35:23,102,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-10-15 16:35:23,2013-10-15 16:35:23
999911,1578407,NaN,NaN,1713418,674777,2013-10-15 16:35:31,101,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-10-15 16:35:31,2013-10-15 16:35:31

In [22]:
#Run to preprocess all careplan reports
new_file_name = 'careplan_reports_cleaned.csv'
rewriten_file_name = 'E:\Data_exploration\careplan_reports.csv'
rewrite_file(new_file_name, rewriten_file_name)